#App {
    min-height: 100vh;
    max-width: 100vw;
    background-color: white;
}

input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: #252525;
    height: 30px;
    border-style: solid;
    border-color: #727272;
    border-width: 1px;
    border-radius: 10px;
}

button {
    background-color: #8003d2;
    padding: 0;
}