#divEditor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
}

.textEditor .slate-editor {
    justify-self: center;
    background-color: white;
    color: rgb(46, 46, 46);
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    padding: 3%;
    box-sizing: border-box;
}

.targetEditor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: rgb(46, 46, 46);
    height: fit-content; 
    width: 25ch;
    border-radius: 10px;
    border-width: 1px;
    max-height: fit-content;
    padding: 2.5%;
    box-shadow: 0px 0px 15px 2px #3d3d3d;
}

img {
    width: 90%;
    height: 80%;
    max-height: 50ch;
    border-radius: 10px;
    margin-top: 5%;
    object-fit: cover;
    margin-bottom: 0px;
}