#divBlog{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; 
    background-color: white;
    align-items: center;

}

.content{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 85%;
    height: 100%;
    align-items: center;
    gap: 20px;
    padding-bottom: 6ch;
}

.horizontalContainer{
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 20px;
    padding: 25px;
    border-radius: 20px;
    flex-wrap: wrap;
}

